.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    > :first-child {
        position: absolute;
        margin-top: 10%;
        right: 50px;
        cursor: pointer;
    }
    > div {
        margin: calc((100% - 70%) / 2) auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70%;
        border-radius: 5px;
        border: 1px solid white;
        > .details {
            height: 25%;
            background: white;
            padding: 15px 20px;
            color: rgb(99, 112, 133);
            .photographer {
                font-weight: 900;
            }
        }
    }
}

.hidden {
    display: none;
}