.container {
    display: grid;
    grid-template-rows: 200px 1fr;

    > :first-child {
        background: #DDE2E9;
        padding: 70px;
        position: relative;
        display: flex;
        > * {
          align-self: center;
        }
        >:first-child {
            width: 50px;
            height: 100%;
            position: absolute;
            border: none;
            left: 0;
            box-shadow: 0 0 3px rgb(186, 187, 189);
            color: rgb(99, 112, 133);
            cursor: pointer;
            &:hover {
                box-shadow: inset 0 0 5px rgb(186, 187, 189);
            }
            > h3 {
                transform: rotate(270deg);
                transform-origin: 80px 70px;
                letter-spacing: 3px;
                font-weight: 900;
            }
        }
        >:nth-child(3) {
            margin: 0 40px 0 20px;
            flex-grow: 1;
        }
        > svg {
            font-size: 20px;
            cursor: pointer;
            color: rgb(99, 112, 133);
        }
        .hide {
            visibility: hidden;
        }
        > .result {
            color: #344663;
            font-size: 30px;
            span {
                color: rgb(99, 112, 133);
            }
        }
    }
}